body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.header:hover{
  color: lightskyblue;
}
ul li{
  list-style: none;
}
.mainDiv{
  text-align: center;
}

.form{
  display: flex;
  justify-content: space-around;
  margin-left: 1rem;
  margin-top: 3rem;
}
input{
  border: 2px solid green;
  width: 50px;
  color: pink;
}
.form p:hover{
  color: pink;
}